<section class="section">
  <div class="container">
    <h2 class="title text-center">Técnologias que já utilizei</h2>
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="row">
            <div class="col-lg-2 col-md-4 col-sm-4 col-xs-6" *ngFor="let item of tecnologies;">
              <div class="card card-image"><img [src]="item.img" class="card-img-top" [alt]="item.description"></div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="row">
            <div class="col-lg-2 col-md-4 col-sm-4 col-xs-6" *ngFor="let item of tecnologies2;">
              <div class="card card-image"><img [src]="item.img" class="card-img-top" [alt]="item.description"></div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="row">
            <div class="col-lg-2 col-md-4 col-sm-4 col-xs-6" *ngFor="let item of tecnologies3;">
              <div class="card card-image"><img [src]="item.img" class="card-img-top" [alt]="item.description"></div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="row">
            <div class="col-lg-2 col-md-4 col-sm-4 col-xs-6" *ngFor="let item of tecnologies4;">
              <div class="card card-image"><img [src]="item.img" class="card-img-top" [alt]="item.description"></div>
            </div>
          </div>
        </div>
      </div>

      <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</section>