.col-lg-2, .col-md-4, .col-sm-4, .col-xs-6 {
    display: flex;
    justify-content: center; 
}

.col-xs-6 {
    width: 50%;
}

.card-image {
    width: 85px;
    height: 115px;
    margin-left: 5px;
    padding-top: 15px;
    box-shadow: 0px 0px 0px 0px #eeeeee !important;
}

.carousel-control-next {
    float: right;
}
.carousel-control-prev {
    float: left;
}
  
.carousel-control-next-icon, .carousel-control-prev-icon {
    background-color: #333333;
    border-radius: 4px;
}
  
@media(min-width: 576px) {
    .carousel-control-next {
        right: -10%;
    }   
    .carousel-control-prev {
        left: -10%;
    }
}