<div class="section section-tabs">
    <div class="container text-center">
      <h2 class="title text-center">Projetos</h2>
      <div class="row">
        <div class="col-md-10 ml-auto col-xl-6 mr-auto">
          <p class="category">Que tal tocar uma batera?</p>
          <div class="card card-zoom" style="width: 18rem;">
            <img class="card-img-top" src="http://i.imgur.com/b9r5sEL.jpg" alt="Card image cap">
            <div class="card-body text-center">
              <p class="card-text">Divirta-se e tire um pouco do stress tocando bateria.</p>
              <a href="#" class="btn btn-round" [routerLink]="['/batera']">Bora!</a>
            </div>
          </div>
        </div>
        <div class="col-md-10 ml-auto col-xl-6 mr-auto">
          <p class="category">LifeCare</p>
          <div class="card card-zoom" style="width: 18rem;">
            <img class="card-img-top" src="https://i.imgur.com/IgUBoDW.jpg" alt="Card image cap">
            <div class="card-body text-center">
              <p class="card-text">Site para a empresa LifeCare, do ramo de cuidados em domicílio.</p>
              <a class="btn btn-round" href="http://cuidadoslifecare.com.br" target="_blank">Quero visitar!</a>
            </div>
          </div>
        </div>
        <div class="col-md-10 ml-auto col-xl-6 mr-auto">
          <p class="category">Hospebem</p>
          <div class="card card-zoom" style="width: 18rem;">
            <img class="card-img-top" src="https://i.imgur.com/L98kpeK.png" alt="Card image cap">
            <div class="card-body text-center">
              <p class="card-text">Aplicação web para a ong <a href="http://viavida.org.br" target="_blank" rel="noopener noreferrer">ViaVida</a>, que consite em um sistema de solicitação e agendamento de quartos.</p>
              <a class="btn btn-round" href="https://github.com/aceleradora-TW/hospebem" target="_blank">ver mais</a>
            </div>
          </div>
        </div>
        <div class="col-md-10 ml-auto col-xl-6 mr-auto">
          <p class="category">PresCare</p>
          <div class="card card-zoom" style="width: 18rem;">
            <img class="card-img-top" src="https://i.imgur.com/geiHdaS.png" alt="Card image cap">
            <div class="card-body text-center">
              <p class="card-text">Aplicação web para a <a href="http://casadomenino.org.br" target="_blank" rel="noopener noreferrer">Casa do Menino Jesus de Praga</a>, que gerencia medicamentos, gerando uma prescrição eletrônica.</p>
              <a class="btn btn-round" href="https://github.com/aceleradora-TW/prescare" target="_blank">ver mais</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <a href="/" class="btn-top">Voltar</a>
  </div>