<div class="section section-about-us">
    <div class="container">
        <div class="row">
            <div class="col-md-8 ml-auto mr-auto text-center">
                <h2 class="title">Sobre mim</h2>
                <h5 class="description">Tenho 19 anos, atualmente graduando em Análise e Desenvolvimento de
                    Sistemas. Apaixonado por tecnologia e por aprender coisas novas,
                    tenho como hobbie estudar e me divertir programando.</h5>
            </div>
        </div>
        <div class="separator separator-primary"></div>
    </div>
</div>