<div class="section" id="#download-section" data-background-color="black">
    <div class="container">
        <div class="row justify-content-md-center sharing-area text-center">
            <div class="text-center col-md-12 col-lg-8">
                <h3>Obrigado pela visita!</h3>
                <h5 class="description">Venha me conhecer melhor</h5>
            </div>
            <div class="text-center col-md-12 col-lg-8">
                <a target="_blank" href="https://www.instagram.com/_marcos012" class="btn btn-instagram btn-icon btn-round btn-lg"
                    rel="tooltip" title="Follow us">
                    <i class="fa fa-instagram"></i>
                </a>
                <a target="_blank" href="https://www.linkedin.com/in/marcos012/" class="btn btn-neutral btn-linkedin btn-icon btn-lg btn-round"
                    rel="tooltip" title="Follow us">
                    <i class="fa fa-linkedin"></i>
                </a>
                <a target="_blank" href="https://github.com/Marcos012" class="btn btn-github btn-icon btn-round btn-lg"
                    rel="tooltip" title="Star on Github">
                    <i class="fa fa-github"></i>
                </a>
                <a target="_blank" href="mailto:marcospaulo.ad@gmail.com" class="btn btn-instagram btn-icon btn-round btn-lg"
                    rel="tooltip" title="Star on Github">
                    <i class="fa fa-envelope"></i>
                </a>
            </div>
        </div>
    </div>
</div>
