<div class="batera">
  <div class="container">
    <div class="row keys up">
      <div data-key="65" class="key col-lg-2 col-md-3">
        <kbd (click)="click('#KeyA')">A</kbd>
        <span class="sound">clap</span>
      </div>
      <div data-key="83" class="key col-lg-2 col-md-3">
        <kbd (click)="click('#KeyS')">S</kbd>
        <span class="sound">hihat</span>
      </div>
      <div data-key="68" class="key col-lg-2 col-md-3">
        <kbd (click)="click('#KeyD')">D</kbd>
        <span class="sound">kick</span>
      </div>
      <div data-key="70" class="key col-lg-2 col-md-3">
        <kbd (click)="click('#KeyF')">F</kbd>
        <span class="sound">openhat</span>
      </div>
      <div data-key="71" class="key col-lg-2 col-md-3">
        <kbd (click)="click('#KeyG')">G</kbd>
        <span class="sound">boom</span>
      </div>

      <div data-key="72" class="key col-lg-2 col-md-3">
        <kbd (click)="click('#KeyH')">H</kbd>
        <span class="sound">ride</span>
      </div>
      <div data-key="74" class="key col-lg-2 col-md-3">
        <kbd (click)="click('#KeyJ')">J</kbd>
        <span class="sound">snare</span>
      </div>
      <div data-key="75" class="key col-lg-2 col-md-3">
        <kbd (click)="click('#KeyK')">K</kbd>
        <span class="sound">tom</span>
      </div>
      <div data-key="76" class="key col-lg-2 col-md-3">
        <kbd (click)="click('#KeyL')">L</kbd>
        <span class="sound">tink</span>
      </div>
      <div data-key="80" class="key col-lg-2 col-md-3">
        <kbd (click)="click('#KeyP')">P</kbd>
        <span class="sound">rimshot</span>
      </div>
    </div>
  </div>
  <audio data-key="65" src="https://raw.githubusercontent.com/Marcos012/site/master/src/assets/sounds/clap.wav"    id="KeyA"></audio>
  <audio data-key="83" src="https://raw.githubusercontent.com/Marcos012/site/master/src/assets/sounds/hihat.wav"   id="KeyS"></audio>
  <audio data-key="68" src="https://raw.githubusercontent.com/Marcos012/site/master/src/assets/sounds/kick.wav"    id="KeyD"></audio>
  <audio data-key="70" src="https://raw.githubusercontent.com/Marcos012/site/master/src/assets/sounds/openhat.wav" id="KeyF"></audio>
  <audio data-key="71" src="https://raw.githubusercontent.com/Marcos012/site/master/src/assets/sounds/boom.wav"    id="KeyG"></audio>
  <audio data-key="72" src="https://raw.githubusercontent.com/Marcos012/site/master/src/assets/sounds/ride.wav"    id="KeyH"></audio>
  <audio data-key="74" src="https://raw.githubusercontent.com/Marcos012/site/master/src/assets/sounds/snare.wav"   id="KeyJ"></audio>
  <audio data-key="75" src="https://raw.githubusercontent.com/Marcos012/site/master/src/assets/sounds/tom.wav"     id="KeyK"></audio>
  <audio data-key="76" src="https://raw.githubusercontent.com/Marcos012/site/master/src/assets/sounds/tink.wav"    id="KeyL"></audio>
  <audio data-key="80" src="https://raw.githubusercontent.com/Marcos012/site/master/src/assets/sounds/rimshot.wav" id="KeyP"></audio>
</div>