<div class="section section-about-us">
    <div class="container py-2">
        <h2 class="title text-center">Experiência profissional</h2>
        <hr>
        <div class="container py-2">
            <div class="row no-gutters">
                <div class="col-sm">
                </div>
                <div class="col-sm-1 text-center flex-column d-none d-sm-flex">
                    <div class="row h-50">
                        <div class="col">&nbsp;</div>
                        <div class="col">&nbsp;</div>
                    </div>
                    <h5 class="m-2">
                        <span class="badge badge-pill bg-success">&nbsp;</span>
                    </h5>
                    <div class="row h-50">
                        <div class="col border-right">&nbsp;</div>
                        <div class="col">&nbsp;</div>
                    </div>
                </div>
                <div class="col-sm py-2">
                    <div class="card">
                        <div class="card-body">
                            <div class="float-right text-success small">Dezembro 2018 - Atual</div>
                            <h4 class="card-title text-success">DBServer | Desenvolvedor Front-end</h4>
                            <p class="card-text">Atuar como desenvolvedor utilizando Angular 6 e Spring boot.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row no-gutters">
                <div class="col-sm py-2">
                    <div class="card border-success shadow">
                        <div class="card-body">
                            <div class="float-right text-muted small">Abril 2018 - Novembro 2018</div>
                            <h4 class="card-title text-muted">Aceleradora Ágil - ThoughtWorks | Estagiário</h4>
                            <p class="card-text">Atuar como desenvolvedor Full-stack utilizando Node.Js,
                                HTML5/CSS3/JavaScript, Spring boot,
                                PostgreSQL, Sequelize, Docker e CI/CD.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-1 text-center flex-column d-none d-sm-flex">
                    <div class="row h-50">
                        <div class="col border-right">&nbsp;</div>
                        <div class="col">&nbsp;</div>
                    </div>
                    <h5 class="m-2">
                        <span class="badge badge-pill bg-light border">&nbsp;</span>
                    </h5>
                    <div class="row h-50">
                        <div class="col border-right">&nbsp;</div>
                        <div class="col">&nbsp;</div>
                    </div>
                </div>
                <div class="col-sm">
                </div>
            </div>
            <div class="row no-gutters">
                <div class="col-sm">
                </div>
                <div class="col-sm-1 text-center flex-column d-none d-sm-flex">
                    <div class="row h-50">
                        <div class="col border-right">&nbsp;</div>
                        <div class="col">&nbsp;</div>
                    </div>
                    <h5 class="m-2">
                        <span class="badge badge-pill bg-light border">&nbsp;</span>
                    </h5>
                    <div class="row h-50">
                        <div class="col border-right">&nbsp;</div>
                        <div class="col">&nbsp;</div>
                    </div>
                </div>
                <div class="col-sm py-2">
                    <div class="card">
                        <div class="card-body">
                            <div class="float-right text-muted small">Fevereiro 2017 - Março 2018</div>
                            <h4 class="card-title">Prefeitura Municipal de Alvorada | Estagiário</h4>
                            <p>Suporte via telefone, manutenção do sistema interno, manutenção de servidor.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>