.btn-twitter{
    color: $social-twitter;

    &:hover,
    &:focus,
    &:active{
        color: $social-twitter-state-color;
    }
}

.btn-facebook{
    color: $social-facebook;

    &:hover,
    &:focus,
    &:active{
        color: $social-facebook-state-color;
    }
}

.btn-google{
    color: $social-google;

    &:hover,
    &:focus,
    &:active{
        color: $social-google-state-color;
    }
}

.btn-linkedin{
    color: $social-linkedin;

    &:hover,
    &:focus,
    &:active{
        color: $social-linkedin-state-color;
    }
}

.btn-github {
    background-color: rgba($color: #ffffff, $alpha: 1.0);
    color: rgba($color: #141414, $alpha: 1.0)
}

.btn-instagram {
    background-color: rgba($color: #ffffff, $alpha: 1.0);
    color: rgba($color: #352323, $alpha: 1.0)
}
